<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782131463534-6pn05qne4hipe7mndn37aqvq16u50uus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782131463534-6pn05qne4hipe7mndn37aqvq16u50uus</string>
	<key>API_KEY</key>
	<string>AIzaSyAiNKVz0F9Kysxddla05NMffEwwK4Ny10Q</string>
	<key>GCM_SENDER_ID</key>
	<string>782131463534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skywebsoftindia.restaurantandhotelfinal</string>
	<key>PROJECT_ID</key>
	<string>restaurantandhotelfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurantandhotelfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782131463534:ios:5701efac888820453fad7f</string>
	<key>DATABASE_URL</key>
	<string>https://restaurantandhotelfinal.firebaseio.com</string>
</dict>
</plist>